@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400&display=swap');

html,
body {
    font-size: 14px;
    font-family: Lato;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.logo {
    height: 100px;
    margin: 0;
    padding: 0;
}

.scroll-progress {
    scroll-behavior: smooth;
    position: fixed;
    height: 10px;
    top: 120px;
    left: 0;
    width: 0%;
    background-color: #ea4020;
    transition: width 0.1 ease-out;
    z-index: 1000;
}

@keyframes scroll-progress {
    from {
        width: 0px;
    }

    to {
        width: 100%;
    }
}

.navbar {
    background: #ffff;

}

.header-fixed {
    box-shadow: 0 12px 15px rgba(140, 152, 164, 0.1);
    background: #ffff;
}

.navbar-brand {
    color: #292929;
    font-weight: 700;
    font-size: 28px;
}

.navbar-nav {
    width: 100%;
    justify-content: flex-end;
}

.navbar-nav li {
    padding-left: 3%;
}

/* Default link style */
.navbar-nav li a {
    color: rgba(0, 0, 0, 0.81);
    font-weight: 600;
    font-size: 16px;
}

/* Hover effect for all links */
.navbar-nav li a:hover {
    color: #ea4020;
}

/* Style for the active link */
.navbar-nav li a.active {
    color: #ea4020;
}

.active {
    color: #ea4020 !important;
}

.navbar-nav li a.active:hover {

    color: #d8381c;
}



.navbar-toggler {
    box-shadow: none !important;
    border: 1px solid #b3b3b3;
    padding: 6px 10px;
}

@media only screen and (max-width: 768px) {
    .navbar-nav li {
        width: 100%;
        float: left;
        padding: 10px 0px 10px 10px;
        border-bottom: 1px solid #ebebeb;
    }
}

.main-section {
    padding-top: 50px;
    padding-bottom: 100px;
}

.banner-left h1 {
    margin-top: 30%;
    font-size: 20px;
    font-weight: 900;
}

.banner-left h2 {
    color: #292929;
    font-weight: 700;
    font-size: 60px;
}

.banner-left h3 {
    color: #292929;
    font-weight: 600;
    font-size: 28;
    margin-bottom: 30px;
}

.banner-left p {
    font-size: 16px;
    line-height: 30px;
    color: #608d8b;
}

.head-bottom {
    height: 3px;
    width: 140px;
    margin-bottom: 9px;
    margin-top: 0;
    display: inline-block;
    background-color: #ea4020;
}


.banner-btn {
    margin-top: 40px;
}

.banner-btn button {
    padding: 14px 40px;
    border: none;
    border-radius: 8px;
    color: #ffff;
    background-color: #ea4020;
    font-size: 16px;

}

.resume {
    color: #ffff;
}

.resume-button:hover {
    background-color: #cb7c6f;
    color: #ffff;
}

.banner-top {
    padding: 50px;
    position: relative;
    margin-top: 90px;
}

.banner-img {
    border-radius: 50% 50% 0% 50%;
    border: 15px solid #292929 !important;
    position: relative;
    z-index: 99;
    overflow: hidden;
    margin-left: 10%;
}

.banner-img img {
    width: 100%;
}

.banner-top::before {
    content: "";
    background-image: url(../images/dot.png);
    position: absolute;
    top: 0;
    left: -40px;
    right: 0;
    bottom: 0;
    background-position: left;
    background-size: cover;
    animation-name: rotate;
    animation-duration: 80s;
    animation-iteration-count: infinite;
}

@keyframes rotate {
    from {
        transform: rotate(-360deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.banner-top::after {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    width: 200vw;
    border: 20px solid #ea4020;
    border-radius: 310px;
    background-color: #ffff;
}

.typing {
    position: relative;
    width: fit-content;
    padding-right: 20px;
    overflow: hidden;
}

.typing::after {
    content: "|";
    position: absolute;
    right: 0;
    width: 100%;
    color: black;
    background: #ffff;
    animation: typing 5s steps(30) infinite, caret 1s infinite;
}

@-webkit-keyframes typing {
    to {
        width: 0;
    }
}

@keyframes caret {
    50% {
        color: transparent;
    }
}

@keyframes caret {
    50% {
        color: trans
    }
}

@media only screen and (max-width: 765px) {
    .banner-left h1 {
        margin-top: 80px;
        font-size: 18px;
        font-weight: 600;
    }

    .banner-left h2 {
        font-size: 40px;
        margin: 0px;
    }

    .banner-left h3 {
        font-size: 22px;
    }

    .banner-left .head-bottom {
        height: 2px;
        width: 90px;
    }
}


.heading {
    text-align: center;
    width: 100%;
    float: left;
    padding-bottom: 20px;
    overflow: hidden;
}

.heading h5 {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #292929;
    font-size: 7vw;
    color: transparent;
    font-weight: 600;
    letter-spacing: 0.8rem;
    opacity: 0.05;
    pointer-events: none;
    margin: 0;
    padding: 0;
}

.heading h2 {
    font-weight: 600 !important;
    color: #292929;
    margin: 0;
    padding: 0;
    position: relative;
    bottom: 70px;
}

.heading-border {
    height: 4px;
    width: 40px;
    margin-bottom: 10px;
    margin-top: 0;
    display: inline-block;
    background-color: #cb7c6f;
}

.heading-expertise h2 {
    font-weight: 600 !important;
    color: whitesmoke;
    margin: 0;
    padding: 0;
    position: relative;
    bottom: 70px;
}

.heading-expertise h5 {
    -webkit-text-stroke-color: white;
    color: white;
}

.heading-border-expertise {
    background-color: white;

}

@media only screen and (max-width: 768px) {
    .heading h2 {
        bottom: 10px;
        font-size: 18px;
    }

    .heading-border {
        height: 2px;
        width: 20px;
        margin-bottom: 6px;
        margin-top: 0px;
    }

}

.myExpertiseAndPortfolio {
    background-color: #14323d;
}

/* Skills Section Style */

/* Container for the tech skills section */

.card-skill-and-portfolio {
    margin: 1rem 1rem;
    transition: box-shadow 0.3s ease;
    background: #ffffff1f !important;

}

.card-skill-and-portfolio:hover {
    box-shadow: 0 10px 10px rgb(33, 78, 95) !important;

}

.card .card-title {
    color: white;

}

.card .card-text {
    color: #fffc;
}

/* Container for full-width image to override card padding */
.full-width-image-container {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

/* Make the image fill its container */
.full-width-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.custom-card {
    background: #ffffff1f;
    /* Match your theme color */
    border: none;
    transition: transform 0.3s, box-shadow 0.3s ease;
    overflow: hidden;
    /* Ensure all child elements fit within the card */
    position: relative;
    /* Ensure proper positioning for internal elements */
    padding-bottom: 0;
    /* Remove any default padding */
    width: 100%;
}

.custom-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 15px rgb(33, 78, 95);
}

.card-body {
    padding: 1.5rem;
    border-top-left-radius: 0;
    /* Remove any radius interfering with the image */
    border-top-right-radius: 0;
}

/* Ensure consistent card styling */
.card-title {
    font-size: 1.5rem;
    font-style: underline;
    font-weight: bold;
    color: whitesmoke;
}

.card-title-tech-stack {
    font-size: 1rem;
    padding-bottom: 0.5rem;
    border-bottom-style: solid;
    border-bottom-width: 3.1px;
    width: fit-content;
    font-weight: bold;
    color: #cb7c6f;
}

.card-subtitle {
    font-size: 1rem;
    font-weight: 500;
    color: #cb7c6f;
}

.card-text {
    font-size: 14px;
    line-height: 1.6;
    color: #fffc;
}

.card-buttons {
    display: flex;
    gap: 1rem;
}

.card-buttons a {
    color: #bdaaaa;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.card-buttons a:hover {

    text-decoration: none;
}

.btn-secondary {
    background-color: #292929;
}

.btn-secondary:hover {
    background-color: #565656;
}

.tech-stack {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.tech-item {
    background: #cb7c6f;
    padding: 0.4rem 0.8rem;
    border-radius: 20px;
    font-size: 0.85rem;
    font-weight: 500;
    color: #ffffff;
}



@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.tech-skills {
    overflow: hidden;
    position: relative;
    width: 100%;
    white-space: nowrap;
    padding: 60px 0;
}

.tech-skills::before,
.tech-skills::after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}

.tech-skills:before {
    left: 0;
    background: linear-gradient(to left, rgb(255, 255, 255, 0), #14323d);
}

.tech-skills:after {
    right: 0;
    background: linear-gradient(to right, rgb(255, 255, 255, 0), #14323d);
}

.tech-skills-slides {
    display: inline-block;
    animation: 20s slide infinite linear;
}

.tech-skills:hover .tech-skills-slides {
    animation-play-state: paused;
}

.tech-skills-slides img {
    padding: 10px 15px;
    margin: 10px 15px;
    border-radius: 10px;
    background: #f9f9f9;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);

}

.skills-card-icon>img {
    margin-left: 1rem;
    height: 50px;
    width: 50px;
}

.tech-skills-slides>img {
    width: 150px;
    min-width: 100px;
    height: auto;
}


.card {
    transition: 1s;
}

.card-experience .card-title {
    color: black !important;
}

.card-experience .card-text {
    color: black !important;
}

.card-experience h5 {
    background-color: #ea4020;
    display: inline-block;
    font-size: 13px;
    padding: 8px 14px;
    border-radius: 20px;
    color: #fff;

}

.card:hover {
    transform: scale(1.1);
    z-index: 2;
}

.contact-info {
    width: 100%;
    float: left;
    background-color: #fff;
    padding: 10px 30px 10px 30px;
    border-radius: 8px;
    border: 1px solid #e2e8f0;
    box-shadow: 0 3.75rem 1.5rem 0 rgb(140, 152, 164, 0.125);
    margin-bottom: 20px;
}

.contact-left h3 {
    border-left: 2px solid #ea4020;
    padding-left: 10px;
    color: #565656;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    float: left;
    margin-top: 20px;
}

.contact-info ul li {
    float: left;
    padding-left: 10px;
}

.contact-info ul li i {
    font-size: 22px;
    color: black;
}

.contact-form {
    border: 1px solid #e2e8f0;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 3.75rem 1.5rem 0 rgb(140, 152, 164, 0.125);
}

.contact-form .form-control {
    padding: 8px;
}

ul li a .fa-brands-contact {
    font-size: 3rem;
    padding-right: 1rem;
    margin-top: 1rem;
}

ul li a .fa-brands-contact:hover {
    color: #3d3a3a;
}

#footer {
    height: 20vh;
    background-color: #14323d;
    border-radius: 3rem 3rem 0px 0px;

}



.fa-brands-footer {
    color: #ffffff;
    font-size: 3rem;
    padding-right: 1rem;
    margin-top: 1rem;
}

.fa-brands-footer:hover {
    color: #565656;
}

.footer-left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    font-size: 1rem;
}